<div class="view-container">
  <header>
    <h2>Look Users</h2>
    <div class="btn-group"><button type="button" id="btnTable" name="btnTable" class="btn-table" data-view="table"></button></div>
    <button type="button" id="btnClose" name="btnClose" class="btn-close"></button>
  </header>
  <div>
    <form id="usersLookupForm" name="usersLookupForm" class="usersLookupForm" novalidate>
      <section class="row search-group">
        <label class="col s12 m6 search-input">
          <select>
            <option value="12">12</option>
            <option value="24" selected="">24</option>
            <option value="60">60</option>
            <option value="100">100</option>
            <option value="120">120</option>
            <option value="180">180</option>
            <option value="300">300</option>
            <option value="600">600</option>
          </select>
          <input type="text" id="q" name="q" maxlength="40" placeholder="Search User" value="" />
          <button type="button" hidden="" class="btn-remove-text"></button><button type="submit" class="btn-search"></button>
        </label>
        <nav class="col s6 m3" aria-label="Countries Pagination">
          <ul class="pagination">
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
          </ul>
        </nav>
      </section>
    </form>
    <ul class="row list">
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00002" />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Cristiano_Ronaldo_2018.jpg/400px-Cristiano_Ronaldo_2018.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Cristiano Ronaldo</h3>
            <p>cristiano.ronaldo@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00005" />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Kak%C3%A1_visited_Stadium_St._Petersburg.jpg/500px-Kak%C3%A1_visited_Stadium_St._Petersburg.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Kaká</h3>
            <p>kaka@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00006" />
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/UEFA_TT_7209.jpg/440px-UEFA_TT_7209.jpg" alt="user" class="round-border" />
          <div>
            <h3 class="">Luís Figo</h3>
            <p>luis.figo@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00008" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Courtois_2018_%28cropped%29.jpg/440px-Courtois_2018_%28cropped%29.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Thibaut Courtois</h3>
            <p>thibaut.courtois@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00009" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/ISL-HRV_%287%29.jpg/440px-ISL-HRV_%287%29.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Luka Modrić</h3>
            <p>luka.modric@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00010" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Xabi_Alonso_Training_2017-03_FC_Bayern_Muenchen-3_%28cropped%29.jpg/440px-Xabi_Alonso_Training_2017-03_FC_Bayern_Muenchen-3_%28cropped%29.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Xabi Alonso</h3>
            <p>xabi.alonso@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00011" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Karim_Benzema_2018.jpg/440px-Karim_Benzema_2018.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Karim Benzema</h3>
            <p>karim.benzema@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00012" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Marc-Andr%C3%A9_ter_Stegen.jpg/500px-Marc-Andr%C3%A9_ter_Stegen.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Marc-André ter Stegen</h3>
            <p>marc-andre.ter.stegen@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00013" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Sergino_Dest.jpg/440px-Sergino_Dest.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Sergiño Dest</h3>
            <p>sergino.dest@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00014" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gerard_Piqu%C3%A9_2018.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Gerard Piqué</h3>
            <p>gerard.pique@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00015" /><img src="https://pbs.twimg.com/media/EtnqxaEU0AAc6A6.jpg" alt="user" class="round-border" />
          <div>
            <h3 class="">Ronald Araújo</h3>
            <p>ronald.araujo@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00016" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Sergio_Busquets_2018.jpg/440px-Sergio_Busquets_2018.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Sergio Busquets</h3>
            <p>sergio.busquets@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00017" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Antoine_Griezmann_in_2018_%28cropped%29.jpg/440px-Antoine_Griezmann_in_2018_%28cropped%29.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Antoine Griezmann</h3>
            <p>antoine.griezmann@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00018" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/20150331_2025_AUT_BIH_2130_Miralem_Pjani%C4%87.jpg/440px-20150331_2025_AUT_BIH_2130_Miralem_Pjani%C4%87.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Miralem Pjanić</h3>
            <p>miralem.pjanic@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00019" /><img
            src="https://img.a.transfermarkt.technology/portrait/header/95732-1583334177.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Martin Braithwaite</h3>
            <p>martin.braithwaite@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00020" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/7/77/Ousmane_Demb%C3%A9l%C3%A9_2018.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Ousmane Dembélé</h3>
            <p>ousmane.dembele@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00021" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Bar%C3%A7a_Napoli_12_%28cropped%29.jpg/440px-Bar%C3%A7a_Napoli_12_%28cropped%29.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Riqui Puig</h3>
            <p>riqui.puig@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00022" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Norberto_Murara_Neto_2019.jpg/440px-Norberto_Murara_Neto_2019.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="">Philip Coutinho</h3>
            <p>philip.coutinho@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00023" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/CSKA-MU_2017_%286%29.jpg/440px-CSKA-MU_2017_%286%29.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Victor Lindelöf</h3>
            <p>victor.lindelof@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00024" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Eric_Bailly_-_ManUtd.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Eric Bailly</h3>
            <p>eric.bailly@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
      <li class="col s12 m6 l4 xl3">
        <section>
          <input type="checkbox" name="selected" value="00025" /><img
            src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Phil_Jones_2018-06-28_1.jpg"
            alt="user"
            class="round-border"
          />
          <div>
            <h3 class="inactive">Phil Jones</h3>
            <p>phil.jones@gmail.com@gmail.com</p>
          </div>
        </section>
      </li>
    </ul>
  </div>
  <footer><button type="button">Select</button></footer>
</div>
