<div>
  <header>
    <h2>{{resource.articles}}</h2>
    <div class="btn-group">
      <button type="button" id="btnListView" name="btnListView" class="btn-list"></button>
      {% if readonly == false %}<a id="btnNew" class="btn-new" href="/articles/new"></a>{% endif %}
    </div>
  </header>
  <div class="search-body">
    <form id="articlesForm" name="articlesForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">{% include "partials/search.html" %} {% include "partials/pagination.html" %}
      </section>
      <section class="row search-group advance-search">
        <label class="col s12 m6 auto-height">
          {{resource.tags}}
          <div class="chip-list" data-name="tags">{{generateTags(filter.tags)}}
            <div class="chip-input-container">
              <input type="text" id="txtTag" name="txtTag" data-skip="true" onkeydown="chipOnKeydown(event)" placeholder="Enter a tag value..." />
              <button type="button" id="btnAddTag" name="btnAddTag" class="btn-add" onclick="addChip(this)"></button>
            </div>
          </div>
        </label>
        <label class="col s12 m3">
          {{resource.published_at_from}}
          <input
            type="datetime-local"
            id="publishedAt_min"
            name="publishedAt_min"
            data-field="publishedAt.min"
            value="{{datetimeToString(filter.publishedAt.min)}}"
            step=".010"
          />
        </label>
        <label class="col s12 m3">
          {{resource.published_at_to}}
          <input
            type="datetime-local"
            id="publishedAt_max"
            name="publishedAt_max"
            data-field="publishedAt.max"
            value="{{datetimeToString(filter.publishedAt.max)}}"
            step=".010"
          />
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
    </form>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>{{resource.number}}</th>
            <th data-field="id">
              <a href="{{sort.id.url}}" onclick="navigate(event)">{{resource.id}} {{sort.id.tag}}</a>
            </th>
            <th data-field="title">
              <a href="{{sort.title.url}}" onclick="navigate(event)">{{resource.title}} {{sort.title.tag}}</a>
            </th>
            <th data-field="publishedAt" class="datetime">
              <a href="{{sort.publishedAt.url}}" onclick="navigate(event)">{{resource.published_at}} {{sort.publishedAt.tag}}</a>
            </th>
            <th data-field="description">
              <a href="{{sort.description.url}}" onclick="navigate(event)">{{resource.description}} {{sort.description.tag}}</a>
            </th>
            <th class="action">{{resource.action}}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in list %}
          <tr>
            <td class="text-right">{{item.sequence}}</td>
            <td>
              <a href="/articles/{{item.id}}" onclick="navigate(event)">{{item.id}}</a>
            </td>
            <td>{{item.title}}</td>
            <td>{{item.publishedAt}}</td>
            <td>{{item.description}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn-copy"></button>
                <a href="/articles/{{item.id}}" class="btn-edit" onclick="navigate(event)"></a>
                <a href="/articles/{{item.id}}/approve" class="btn-approve" onclick="navigate(event)"></a>
                <button type="button" class="btn-history"></button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>