<div>
  <header>
    <h2>{{resource.audit_logs}}</h2>
    <div class="btn-group float-left"><button type="button" id="btnListView" name="btnListView" class="btn-list" data-view="list"></button></div>
  </header>
  <div>
    <form id="auditLogsForm" name="auditLogsForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row section">
        <label class="col s12 m2 l4">
          {{resource.action}}
          <input type="text" id="action" name="action" maxlength="240" value="{{filter.action}}" />
        </label>
        <label class="col s12 m5 l4">
          {{resource.audit_log_time_from}}
          <input type="datetime-local" step=".010" id="time_min" name="time_min" data-field="time.min" value="{{datetimeToString(filter.time.min)}}" />
        </label>
        <label class="col s12 m5 l4">
          {{resource.audit_log_time_to}}
          <input type="datetime-local" step=".010" id="time_max" name="time_max" data-field="time.max" value="{{datetimeToString(filter.time.max)}}" />
        </label>
      </section>
      <section class="section search">
        <label>
          {{resource.page_size}}
          <select id="limit" name="limit" onchange="search(event)">
            {% for pageSize in limits %}
            <option value="{{pageSize}}" {% if pageSize == filter.limit %} selected {% endif %}>{{pageSize}}</option>
            {% endfor %}
          </select>
        </label>
        <button type="submit" class="btn-search">{{resource.search}}</button>
      </section>
    </form>
    <form class="list-result">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>{{resource.number}}</th>
            <th data-field="time">
              <a href="{{sort.time.url}}" onclick="navigate(event)">{{resource.audit_log_time}} {{sort.time.tag}}</a>
            </th>
            <th data-field="resource">
              <a href="{{sort.resource.url}}" onclick="navigate(event)">{{resource.resource}} {{sort.resource.tag}}</a>
            </th>
            <th data-field="action">
              <a href="{{sort.action.url}}" onclick="navigate(event)">{{resource.action}} {{sort.action.tag}}</a>
            </th>
            <th data-field="status">
              <a href="{{sort.status.url}}" onclick="navigate(event)">{{resource.status}} {{sort.status.tag}}</a>
            </th>
            <th data-field="userId">
              <a href="{{sort.userId.url}}" onclick="navigate(event)">{{resource.audit_log_user}} {{sort.userId.tag}}</a>
            </th>
            <th data-field="ip">
              <a href="{{sort.ip.url}}" onclick="navigate(event)">{{resource.ip}} {{sort.ip.tag}}</a>
            </th>
            <th data-field="remark">
              <a href="{{sort.remark.url}}" onclick="navigate(event)">{{resource.remark}} {{sort.remark.tag}}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in list %}
          <tr>
            <td class="text-right">{{item.sequence}}</td>
            <td>{{item.time}}</td>
            <td>{{item.resource}}</td>
            <td>{{item.action}}</td>
            <td>{{item.status}}</span></td>
            <td>{{item.userId}}</td>
            <td>{{item.ip}}</td>
            <td>{{item.remark}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "partials/pagination.html" %}
    </form>
  </div>
</div>
