<form id="categoryForm" name="categoryForm" class="form" aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.category}}</h2>
  </header>
  <div class="row">
    <label class="col s12 m6">
      {{resource.id}}
      <input type="text" id="id" name="id" value="{{category.id}}" maxlength="80" required readonly placeholder="{{resource.id}}" />
    </label>
    <label class="col s12 m6">
      {{resource.name}}
      <input type="text" id="name" name="name" value="{{category.name}}" maxlength="255" required readonly placeholder="{{resource.name}}" />
    </label>
    <label class="col s12 m6">
      {{resource.path}}
      <input type="text" id="path" name="path" value="{{category.name}}" maxlength="255" required readonly placeholder="{{resource.path}}" />
    </label>
    <label class="col s12 m6">
      {{resource.resource}}
      <input type="text" id="resource" name="resource" value="{{category.name}}" maxlength="255" required readonly placeholder="{{resource.resource}}" />
    </label>
    <label class="col s12 m6">
      {{resource.icon}}
      <input type="text" id="icon" name="icon" value="{{category.icon}}" maxlength="255" required readonly placeholder="{{resource.icon}}" />
    </label>
    <label class="col s12 m6">
      {{resource.type}}
      <input type="text" id="type" name="type" value="{{category.type}}" maxlength="10" readonly placeholder="{{resource.type}}" />
    </label>
    <label class="col s12 m6">
      {{resource.parent}}
      <input type="text" id="parent" name="parent" value="{{category.parent}}" maxlength="40" readonly placeholder="{{resource.parent}}" />
    </label>
    <label class="col s12 m6">
      {{resource.sequence}}
      <input
        type="tel"
        id="sequence"
        name="sequence"
        class="right-align"
        value="{{category.sequence}}"
        maxlength="3"
        required
        onkeypress="return integerOnKeyPress(event)"
        placeholder="{{resource.sequence}}" />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {{isChecked('A', category.status)}}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {{isChecked('I', category.status)}}/>{{resource.inactive}}</label>
      </div>
    </div>
  </div>
  <footer>
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
