<form id="contactForm" name="contactForm" class="form" novalidate aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.contact}}</h2>
  </header>
  <div class="row">
    <input type="hidden" id="id" name="id" value="{{contact.id}}" />
    <label class="col s12 m6">
      {{resource.fullname}}
      <input
        type="text"
        id="name"
        name="name"
        value="{{contact.name}}"
        readonly
        maxlength="40"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.fullname}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.country}}
      <input type="text" id="country" name="country" value="{{contact.country}}" maxlength="100" required placeholder="{{resource.country}}" />
    </label>
    <label class="col s12 m6">
      {{resource.company}}
      <input type="text" id="company" name="company" value="{{contact.company}}" maxlength="100" placeholder="{{resource.company}}" />
    </label>
    <label class="col s12 m6">
      {{resource.job_title}}
      <input type="text" id="jobTitle" name="jobTitle" value="{{contact.jobTitle}}" maxlength="100" placeholder="{{resource.job_title}}" />
    </label>
    <label class="col s12 m6">
      {{resource.email}}
      <input type="text" id="email" name="email" data-type="email" value="{{contact.email}}" required maxlength="100" placeholder="{{resource.email}}" v />
    </label>
    <label class="col s12 m6 flying">
      {{resource.phone}}
      <input
        type="tel"
        id="phone"
        name="phone"
        value="{{contact.phone}}"
        required
        maxlength="17"
        onfocus="phoneOnFocus(event)"
        onblur="phoneOnBlur(event, formatPhone)"
        placeholder="{{resource.phone}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.submitted_at}}
      <input
        type="datetime-local"
        step=".010"
        id="submittedAt"
        name="submittedAt"
        value="{{datetimeToString(contact.submittedAt)}}"
        placeholder="{{resource.submitted_at}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.contacted_by}}
      <input type="text" id="contactedBy" name="contactedBy" maxlength="100" placeholder="{{resource.contacted_by}}" value="{{contact.contactedBy}}" />
    </label>
    <label class="col s12 m6">
      {{resource.contacted_at}}
      <input
        type="datetime-local"
        step=".010"
        id="contactedAt"
        name="contactedAt"
        placeholder="{{resource.contacted_at}}"
        value="{{datetimeToString(contact.submittedAt)}}"
      />
    </label>
    <label className="col s12 auto-height required">
      {{resource.message}}
      <textarea id="message" name="message" rows="8" onBlur="requiredOnBlur" maxlength="400" placeholder="{{resource.message}}">{{contact.message}}</textarea>
    </label>
  </div>
  <footer>
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
