<form id="contentForm" name="contentForm" class="form" aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back"></button>
    <h2 class="view-title">{{resource.content}}</h2>
  </header>
  <div class="row">
    <label class="col s12 m6">
      {{resource.id}}
      <input type="text" id="id" name="id" value="{{content.id}}" maxlength="80" required readonly placeholder="{{resource.id}}" />
    </label>
    <label class="col s12 m6">
      {{resource.lang}}
      <input type="text" id="lang" name="lang" value="{{content.lang}}" maxlength="80" required readonly placeholder="{{resource.lang}}" />
    </label>
    <label class="col s12 m6">
      {{resource.published_at}}
      <input type="datetime-local" id="publishedAt" name="publishedAt" value="{{datetimeToString(content.publishedAt)}}" step=".010" />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {{isChecked('A', content.status)}}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {{isChecked('I', content.status)}}/>{{resource.inactive}}</label>
      </div>
    </div>
    <label class="col s12">
      {{resource.title}}
      <input
        type="text"
        id="title"
        name="title"
        value="{{content.title}}"
        maxlength="255"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.article_name}}"
      />
    </label>
    <label class="col s12 auto-height required">
      {{resource.body}}
      <textarea id="name" name="name" rows="20" maxlength="5000" placeholder="{{resource.name}}"/>{{content.body}}</textarea>
    </label>
  </div>
  <footer>
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
