<div>
  <header>
    <h2>{{resource.currencies}}</h2>
    {% if readonly == false %}<a id="newBtn" class="btn-new" href="/currencies/new" onclick="navigate(event)"></a>{% endif %}
  </header>
  <div class="search-body">
    <form id="currenciesForm" name="currenciesForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">{% include "partials/advance-search.html" %} {% include "partials/pagination.html" %}</section>
      <section class="row search-group inline advance-search" hidden>
        <label class="col s12 m6">
          {{resource.currency_decimal_digits}}
          <input type="tel" id="decimalDigits" name="decimalDigits" value="{{filter.decimalDigits}}" maxlength="1" />
        </label>
        <label class="col s12 m6 checkbox-section">
          {{resource.status}}
          <section class="checkbox-group">
            <label>
              <input type="checkbox" id="active" name="status" value="A" {{isChecked('A', filter.status)}}/>{{resource.active}}
            </label>
            <label>
              <input type="checkbox" id="inactive" name="status" value="I" {{isChecked('I', filter.status)}}/>{{resource.inactive}}
            </label>
          </section>
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
    </form>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>{{resource.number}}</th>
            <th data-field="code">
              <a id="codeSort" href="{{sort.code.url}}" onclick="navigate(event)">{{resource.currency_code}} {{sort.code.tag}}</a>
            </th>
            <th data-field="symbol">
              <a id="symbolSort" href="{{sort.symbol.url}}" onclick="navigate(event)">{{resource.currency_symbol}} {{sort.symbol.tag}}</a>
            </th>
            <th data-field="decimalDigits">
              <a id="decimalDigitsSort" href="{{sort.decimalDigits.url}}" onclick="navigate(event)">{{resource.currency_decimal_digits}} {{sort.decimalDigits.tag}}</a>
            </th>
            <th data-field="status">
              <a id="statusSort" href="{{sort.status.url}}" onclick="navigate(event)">{{resource.status}} {{sort.status.tag}}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in list %}
          <tr>
            <td class="text-right">{{item.sequence}}</td>
            <td>
              <a href="/currencies/{{item.code}}" onclick="navigate(event)">{{item.code}}</a>
            </td>
            <td>{{item.symbol}}</td>
            <td class="text-right">{{item.decimalDigits}}</td>
            <td>{{item.status}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
