<form id="currencyForm" name="currencyForm" class="form" novalidate aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="backBtn" name="backBtn" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.currency}}</h2>
  </header>
  <div class="row">
    <label class="col s12 m6">
      {{resource.currency_code}}
      <input
        type="text"
        id="code"
        name="code"
        value="{{currency.code}}"
      {% if editMode %}
        readonly
      {% endif %}
        maxlength="3"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.currency_code}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.currency_symbol}}
      <input
        type="text"
        id="symbol"
        name="symbol"
        value="{{currency.symbol}}"
        maxlength="4"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.currency_symbol}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.currency_decimal_digits}}
      <input
        type="tel"
        id="decimalDigits"
        name="decimalDigits"
        data-type="integer"
        class="text-right"
        value="{{currency.decimalDigits}}"
        maxlength="1"
        min="0"
        max="4"
        required
        onkeydown="return digitOnKeyDown(event)"
        onfocus="numberOnFocus(event)"
        onblur="numberOnBlur(event)"
        placeholder="{{resource.currency_decimal_digits}}"
      />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {{isChecked('A', currency.status)}}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {{isChecked('I', currency.status)}}/>{{resource.inactive}}</label>
      </div>
    </div>
  </div>
  <footer>
    <button type="submit" id="saveBtn" name="saveBtn" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
