<form id="jobForm" name="jobForm" class="form" novalidate aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.job}}</h2>
    <button class="btn-group btn-right"><i class="material-icons">group</i></button>
  </header>
  <div class="row">
    <label class="col s6 m6">
      {{resource.id}}
      <input type="text" id="id" name="id" value="{{job.id}}" maxlength="60" required readonly
        onblur="requiredOnBlur(event)" placeholder="{{resource.id}}" />
    </label>
    <label class="col s12 m6">
      {{resource.published_at}}
      <input type="datetime-local" id="publishedAt" name="publishedAt" value="{{datetimeToString(job.publishedAt)}}"
        step=".010" />
    </label>
    <label class="col s12 m6">
      {{resource.company}}
      <input type="text" id="company" name="company" value="{{job.company}}" maxlength="255" required
        onblur="requiredOnBlur(event)" placeholder="{{resource.company}}" />
    </label>
    <label class="col s12 m6">
      {{resource.position}}
      <input type="text" id="position" name="position" value="{{job.position}}" maxlength="255" required
        onblur="requiredOnBlur(event)" placeholder="{{resource.position}}" />
    </label>
    <label class="col s12 m6">
      {{resource.quantity}}
      <input type="text" class="text-right" id="quantity" name="quantity" data-type="integer" value="{{job.quantity}}"
        maxlength="3" required onkeypress="return integerOnKeyPress(event)" onfocus="numberOnFocus(event)"
        onblur="numberOnBlur(event)" placeholder="{{resource.quantity}}" />
    </label>
    <label class="col s12 m6">
      {{resource.location}}
      <input type="text" id="location" name="location" value="{{job.location}}" maxlength="255" required
        onblur="requiredOnBlur(event)" placeholder="{{resource.location}}" />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {{isChecked('A', job.status)}}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {{isChecked('I', job.status)}}/>{{resource.inactive}}</label>
      </div>
    </div>
    <label class="col s12 auto-height">
      {{resource.skills}}
      <div class="chip-list" data-name="skills">{{generateTags(job.skills)}}
        <div class="chip-input-container">
          <input type="text" id="txtSkill" name="txtSkill" data-skip="true" onkeydown="chipOnKeydown(event)"
            placeholder="Enter a skill..." />
          <button type="button" id="btnAddSkill" name="btnAddSkill" class="btn-add" onclick="addChip(this)"></button>
        </div>
      </div>
    </label>
    <label class="col s12 m6">
      {{resource.min_salary}}
      <input type="tel" id="minSalary" name="minSalary" data-type="integer" class="text-right"
        value="{{formatNumber(job.minSalary)}}" maxlength="16" onkeypress="return integerOnKeyPress(event)"
        onfocus="numberOnFocus(event)" onblur="numberOnBlur(event)" placeholder="{{resource.min_salary}}" />
    </label>
    <label class="col s12 m6">
      {{resource.max_salary}}
      <input type="tel" id="maxSalary" name="maxSalary" data-type="integer" class="text-right"
        value="{{formatNumber(job.maxSalary)}}" maxlength="16" onkeypress="return integerOnKeyPress(event)"
        onfocus="numberOnFocus(event)" onblur="numberOnBlur(event)" placeholder="{{resource.max_salary}}" />
    </label>
    <label class="col s12">
      {{resource.title}}
      <input type="text" id="title" name="title" value="{{job.title}}" maxlength="255" required
        onblur="requiredOnBlur(event)" placeholder="{{resource.job_name}}" />
    </label>
    <label class="col s12 auto-height required">
      {{resource.description}}
      <textarea id="description" name="description" rows="40" maxlength="9600"
        placeholder="{{resource.description}}">{{job.description}}</textarea>
    </label>
    <label class="col s12 auto-height">
      <div class="editor-container">
        <!-- Toolbar -->
        <div id="toolbar" style="display: none;" class="toolbar">
          <span class="ql-formats">
            <select class="ql-header">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
              <option selected></option>
            </select>
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-code-block"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean"></button>
          </span>
        </div>
        <!-- Editor -->
        <div id="editor" style="display: none;" class="editor" aria-label="Rich text editor"></div>
        <div class="controls">
          <button type="button" id="btnToggleView" onclick="toggleView(this, 'description', 'editor', 'toolbar')">Toggle
            View</button>
        </div>
      </div>
    </label>
  </div>
  <footer>
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif
      %}>{{resource.save}}</button>
  </footer>
  <script data-init-script="true">
    resources.load = function (pageBody) {
      const quill = new Quill("#editor", {
        modules: {
          toolbar: "#toolbar",
        },
        theme: "snow",
      })
      const toolbar = quill.getModule('toolbar')
      toolbar.addHandler('link', function (value) {
        if (value) {
          const range = quill.getSelection();
          if (range && range.length > 0) {
            let url = prompt('Enter the URL:');
            if (url) {
              if (!/^https?:\/\//i.test(url)) {
                url = 'https://' + url;
              }
              quill.format('link', url);
            }
          } else {
            alert('Please select some text before adding a link.');
          }
        } else {
          quill.format('link', false);
        }
      });
      const form = document.getElementById("jobForm")
      if (form) {
        form.quill = quill
      }
    }
  </script>
</form>