<div class="view-container">
  <form id="roleAssignmentForm" name="roleAssignmentForm" class="form">
    <header class="view-header">
      <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
      <h2>{{role.roleName}}</h2>
    </header>
    <div class="form-body">
      <section class="row section">
        <label class="col s12 m6">
          {{resource.role_id}}
          <input type="text" id="roleId" name="roleId" value="{{role.roleId}}" maxlength="255" disabled>
        </label>
        <label class="col s12 m6">
          {{resource.role_name}}
          <input type="text" id="roleName" name="roleName" value="{{role.roleName}}" maxlength="255" disabled>
        </label>
      </section>
      <section class="row section">
        <h4 class="header">
          {{resource.users}}
          <div class="btn-group">
            <button type="button" id="btnAdd" name="btnAdd">{{resource.add}}</button>
            <button type="button" id="btnSelect" name="btnSelect" onclick="selectOnClick(this, 'userId', ['btnCheckAll', 'btnUncheckAll', 'btnRemove'])">{{resource.select}}</button>
            <button type="button" id="btnCheckAll" name="btnCheckAll" hidden onclick="checkAll(this, 'userId', true)">{{resource.check_all}}</button>
            <button type="button" id="btnUncheckAll" name="btnUncheckAll" hidden onclick="uncheckAll(this, 'userId')">{{resource.uncheck_all}}</button>
            <button type="button" id="btnRemove" name="btnRemove" hidden onclick="removeOnClick(event, 'userId', 'img-item')">{{resource.remove}}</button>
          </div>
          </h4>
          <label class="col s12 search-input">
            <i class="btn-search"></i>
            <input type="text" id="q" name="q" value="" maxlength="40" placeholder="Search User" autocomplete="off">
          </label>
      </section>
      <ul class="row list">
      {% for item in users %}
        <li class="col s12 m6 l4 xl3 small img-item">
          <img alt="{{item.email}}" class="round-border" src="{{item.imageURL}}">
          <h4>{{item.displayName}}</h4>
          <input type="checkbox" id="userId_{{item.userId}}" name="userId" value="{{item.userId}}" hidden>
          <p>{{item.email}}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
    <footer class="view-footer">
      <button type="submit" id="btnSave" name="btnSave" onclick="assignUsersToRole(event)"
          data-warning="{{resource.msg_confirm_assign_users_to_role}}">
        {{resource.save}}
      </button>
    </footer>
  </form>
</div>