<div>
  <header>
    <h2>{{resource.roles}}</h2>
    <div class="btn-group">
      <button type="button" id="btnListView" name="btnListView" class="btn-list" data-view="listview"></button>
      {% if readonly == false %}<a id="btnNew" class="btn-new" href="/roles/new"></a>{% endif %}
    </div>
  </header>
  <div class="search-body">
    <form id="rolesForm" name="rolesForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">{% include "partials/search.html" %} {% include "partials/pagination.html" %}</section>
      <section class="row search-group inline">
        <label class="col s12 m6">
          {{resource.status}}
          <section class="checkbox-group">
            <label>
              <input type="checkbox" id="active" name="status" value="A" {{isChecked('A', filter.status)}}/>{{resource.active}}
            </label>
            <label>
              <input type="checkbox" id="inactive" name="status" value="I" {{isChecked('I', filter.status)}}/>{{resource.inactive}}
            </label>
          </section>
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
    </form>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>{{resource.number}}</th>
            <th data-field="roleId">
              <a id="sortRoleId" href="{{sort.roleId.url}}" onclick="navigate(event)">{{resource.role_id}} {{sort.roleId.tag}}</a>
            </th>
            <th data-field="roleName">
              <a id="sortRoleName" href="{{sort.roleName.url}}" onclick="navigate(event)">{{resource.role_name}} {{sort.roleName.tag}}</a>
            </th>
            <th data-field="remark">
              <a id="sortRemark" href="{{sort.remark.url}}" onclick="navigate(event)">{{resource.remark}} {{sort.remark.tag}}</a>
            </th>
            <th data-field="status">
              <a id="sortStatus" href="{{sort.status.url}}" onclick="navigate(event)">{{resource.status}} {{sort.status.tag}}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in list %}
          <tr>
            <td class="text-right">{{item.sequence}}</td>
            <td>
              <a href="/roles/{{item.roleId}}" onclick="navigate(event)">{{item.roleId}}</a>
            </td>
            <td>{{item.roleName}}</td>
            <td>{{item.remark}}</td>
            <td>{{item.status}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
